.c-calender {

  &__control--prev-icon,
  &__control--next-icon {
    align-self: flex-start;
    filter: invert(100%);
  }

  &__indicators {
    display: flex;
    flex-direction: column;
    &--slide {
      display: flex;
      margin: auto;
      filter: invert(100%);

      li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    }
    &--button {
      &_btn {
        background: #642d8c;
      }
    }
  }
  
  &__inner {
    background:#fff;
    height: 70vh;

    &-container {
      padding: 2em 4em;
    }

    &-title {
      display: block;
      font-size: 35px;
      font-weight: 300;
      color: $calendar;
    }

    &-image {
      background-image: url('../images/calender.jpg');
      height: 45vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 100%;
    }
  }
}

@media screen and (max-width: 845px) {
  .c-calender {
    
    &__inner {
      height: 60vh;

      &-container {
        padding: 1em 2em;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .c-calender {
    
    &__inner {
      height: 50vh;
    }
  }
}